<!DOCTYPE html>
<html>
<head>
  <title>Sample App | <%= title %></title>
  <%= render "layouts/stylesheet" %>
</head>
<body>
<div class='container'>
 <header>
  <%= image_tag("logo.png", :alt => "Sample App", :title => "Sample App", :class => "round") %>
  <%= render "layouts/head" %>
  </header>
  <section class="round">
    <%= yield %>
  </section>
  <%= render "layouts/footer" %>
</div> 
</body>
</html>
